:root{
    --cor-primaria: #6E3B3B;
    --cor-secundaria: #AC3F21;
    --cor-terciaria: #BE6A15;
    --cor-quaternaria: #F3CF7A;
    --cor-fundo: #DFD7BF;
    
}

html {
    scroll-behavior: smooth;/*comportamento-da-rolagem: suave */
}

body {
  
   margin: 20px 50px;
   text-align: justify;
   background-color: var(--cor-fundo);

}

.titulo-de-pagina {
    color: var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
}

.titulo-de-artigo {
    color: var(--cor-secundaria);
    line-height: 2;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-de-secao {
    color: var(--cor-secundaria);
    line-height: 1.8;
    font-weight: bold;
    font-size: 18pt;
}

.subtitulo-de-artigo {
    color: var(--cor-terciaria);
    line-height: 1.5;
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

p {
    color: var(--cor-secundaria);
    line-height: 1.2;
}

.paragrafo-de-artigo {
    background-color: var(--cor-quaternaria);
    padding: 1px;
}

.paragrafo-de-artigo + .paragrafo-de-artigo{
    padding-top: 0;
}

header {
    border: 8px solid var(--cor-quaternaria);
    padding: 30px; 
    margin: 30px ;
    border-radius: 20px 0 20px 0;
}

.link-de-menu-principal {
    text-decoration: overline;
}

.menu-principal ul {
    background-color: var(--cor-secundaria);
}

.menu-principal li {
    color: var(--cor-fundo);
}

.menu-principal a {
    color: var(--cor-quaternaria);
}
